.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.mark {
  fill: #137b80;
}

.axis-label,
.dropdown-label {
  font-size: 2.5em;
  fill: #635f5d;
  color: #635f5d;
}

.Dropdown-root {
  width: 300px;
  display: inline-block;
}

.Dropdown-menu {
  max-height: 400px;
}
