.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
  cursor: default;
}

/* .mark {
  fill: #137b80;
} */
.menus-container {
  margin-top: 20px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.axis-label,
.dropdown-label {
  font-size: 2.5em;
  fill: #635f5d;
  color: #635f5d;
}

.dropdown-label {
  margin-left: 100px;
  margin-right: 15px;
}

.Dropdown-root {
  width: 300px;
  display: inline-block;
}

.Dropdown-menu {
  max-height: 400px;
}
